version: '3.8'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=production
    container_name: randomgroup_nextjs
    expose:
      - "3000"
    restart: always
    environment:
      - NODE_ENV=production
      - TZ=Asia/Shanghai
      - NEXT_TELEMETRY_DISABLED=1
    deploy:
      resources:
        limits:
          cpus: '8.0'
          memory: 8G
        reservations:
          cpus: '2.0'
          memory: 2G
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
    networks:
      - app_network

    labels:
      - "traefik.enable=true"

      # 路由到此容器
      - "traefik.http.routers.randomgroup.rule=Host(`randomgroup.org`)"
      - "traefik.http.routers.randomgroup.entrypoints=websecure"
      - "traefik.http.routers.randomgroup.tls.certresolver=letsencrypt"

      # 指定服务的内部端口
      - "traefik.http.services.randomgroup.loadbalancer.server.port=3000"

networks:
  app_network:
    driver: bridge
